Account Page
<div class="row">
        <div class="col-lg-5">
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <p>this is account page</p>
<br>
<div class="form-group">
    <button class="btn float-right login_btn" (click)="toLogin()">Return to login</button><br>
</div>
